<div class="container p-5">
    <div class="row">
      <div
        class="col-6 border border-light rounded p-5 shadow" *ngIf="formulario">
        <h6>{{ tituloFormulario }}</h6>
        <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
          <div class="form-group">
            <label>Id</label>
            <input type="text" class="form-control form-control-sm" formControlName="animalId"/>
          </div>
          <div class="form-group">
            <label>Nome</label>
            <input type="text" class="form-control form-control-sm" formControlName="nome"/>
          </div>
          <div class="form-group">
            <label>Tutor</label>
            <select class="form-control form-control-sm" formControlName="tutorId">
              <option *ngFor="let tutor of tutores" [value]="tutor.tutorId">
                {{ tutor.nomeTutor }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label>Especie</label>
            <input type="text" class="form-control form-control-sm" formControlName="especieAnimal"/>
          </div>
          <div class="form-group">
            <label>Raça</label>
            <input type="text" class="form-control form-control-sm" formControlName="raca"/>
          </div>
          <div class="form-group">
            <label>Idade</label>
            <input type="text" class="form-control form-control-sm" formControlName="idade"/>
          </div>
          <div class="form-group">
            <label>Sexo do Animal</label>
            <input type="text" class="form-control form-control-sm" formControlName="sexoDoAnimal"/>
          </div>
          <div class="form-group">
            <label>Peso do Animal</label>
            <input type="text" class="form-control form-control-sm" formControlName="pesoAnimal"/>
          </div>
          <div class="container">
            <div class="row">
              <div>
                <button type="submit" class="btn btn-sm btn-outline-secondary">
                  Salvar
                </button>
              </div>
              <div class="pl-1">
                <button type="button" class="btn btn-sm btn-light">Voltar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  